<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if not post.title %}{{title}}{% endif %}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="shortcut icon" href="{{blog-prefix}}/img/z.png">

        {% style "css/blog.css" %}
        {% if post.js %}
        <link rel=stylesheet"
              href="../../css/{{post.slug}}/{{post.slug}}.css"/>
        {% endif %}
        <!-- loop through external-css, add link elements -->
        {% for css in post.external-css %}
        <link rel="stylesheet" href="{{css}}">
        {% endfor %}
    </head>
    <body>
        <header class="container">
            <h4>
                <a href="/" id="home">zuzhi</a>
                <a href="/archives.html">archives</a>
                <a href="/til.html">til</a>
                <a href="https://progress.huzuzhi.com">progress</a>
                <a href="https://github.com/zuzhi">github</a>
                <a href="https://x.com/huzuzhi">x</a>
            </h4>
        </header>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/clojure.min.js"></script>
        <script>hljs.highlightAll();</script>
        {% if post.js %}
        <script src="../../js/{{post.slug}}/{{post.slug}}.js"></script>
        {% endif %}

        {% if post.klipse %} {{post.klipse|safe}} {% endif %}
        {% if page.klipse %} {{page.klipse|safe}} {% endif %}
    </body>
</html>
