#post {
    box-sizing: border-box;
    max-width: 704px;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    grid-template-rows: auto 1fr;
    overflow-wrap: break-word;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    line-height: 1.8em;
}
