<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="shortcut icon" href="{{blog-prefix}}/img/z.png">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
        {% style "css/blog.css" %}
        {% style "css/font.css" %}
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    </head>
    <body>
        <header class="app-header-container" style="align-items: baseline; padding: 20px;"><h4 class="app-header-title" style="padding-right: 10px; margin: 0px; font-weight: 500;"><a href="/" style="color: inherit;">zuzhi</a><a href="https://github.com/zuzhi" style="padding-left: 1em;">github.com/zuzhi</a></h4></header>

        <article id="main">
            {% block content %}
            {% endblock %}
        </article>

        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        {% if post.klipse %} {{post.klipse|safe}} {% endif %}
        {% if page.klipse %} {{page.klipse|safe}} {% endif %}
    </body>
</html>
