# This is a basic workflow to help you get started with Actions

name: build & publish

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    name: Build
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v3.3.0
      # Setup JDK
      - name: Setup Java JDK
        uses: actions/setup-java@v3.10.0
        with:
          distribution: 'adopt'
          java-version: '11'
      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: '20'
      # Install Sass
      - name: Install Sass
        run: npm install -g sass
      # Install Leiningen
      - name: Install Leiningen
        uses: DeLaGuardo/setup-clojure@9.5
        with:
          lein: 'latest'
      # Lein deps
      - name: Deps
        run: lein deps
      # Lein run
      - name: Run
        run: lein run
      # Run npm install, for @cloudflare/kv-asset-handler
      - name: Run npm install
        run: npm install
      # Publish
      - name: Publish
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          environment: 'production'
